    {% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row justify-content-between competitionInfoConteiner">
    <div class="col-12 col-md-8">
        <p class="title">
            <a id="competitionEditButton" style="display: none" data-bs-toggle="collapse" href="#collapseCompetitionEdit" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="{% static 'pancil_black.png' %}" width="25" height="25">
            </a>
        </p>
        <p class="description"></p>
    </div>

    <div class="col-12 col-md-3">
        <div class="row organizer">
            <p id="organizer"></p>
        </div>
        <div class="row dateTimeInfo">
            <div class="regulations"></div>
            <div class="protocol"></div>
            <button class="btn createCompBtn"style="display: none" id="start_draw">
                Начать жеребьёвку
            </button>
        </div>
    </div>


    <div class="collapse" id="collapseCompetitionEdit">
        <div class="card card-body rounded-3 mt-3 col-12 col-lg-10 col-xl-8">
                <p class="h3 my-3"><strong>   Редактирование    </strong></p>

            <input type="hidden" name="_method" value="put" />

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">Заголовок</span>
                <textarea id="competition_title_edit" cols="20" rows="3" class="form-control" placeholder="Томская межвузовская спартакиада"></textarea>
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">Описание</span>
                <textarea id="competition_description_edit" cols="30" rows="10" class="form-control competition-description" placeholder="Введите новое описание для соревнований"></textarea>
            </div>

            <div id="competition_datetime_input_string" style="display: none" class="input-group input-group-lg mb-3">
                <span class="input-group-text">Завявки принимаются до</span>
                <input id="competition_datetime_edit"  type="datetime-local" class="form-control">
            </div>


                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button type="submit" class="btn createCompBtn" name="formType" value="compEditForm" id="sendCompetitionEdit">
                            Обновить
                        </button>
                    </div>
                </div>

                <script>
                    $('#id_datetimepicker').datetimepicker({
                        format:'Y:m:d H:i',
                        step: 10,
                        theme:'dark',
                        maxTime:'23:59'
                    });
                </script>
            </div>
    </div>
</div>

<div id="tournament_grid_block" style="display: none">
    <p class="h2 mt-5"><strong>Матчи турнира</strong></p>
    <div id="tournament_grid" class="matchList"></div>
</div>

<div id="teams_list_block" style="display: none">
    <p id="number_of_teams" class="h2 mt-5">
        <strong>Участвующие команды</strong>

    </p>
    <div id="teams_list" class="teamsList col-10">
        <div class="titles">
            <div class="row">
                <div class="col-4 text-center"> <b> Команда </b> </div>
                <div class="col-2 text-center"> <b> Сыграно </b> </div>
                <div class="col-2 text-center"> <b> Выиграно </b> </div>
                <div class="col-2 text-center"> <b> Проиграно </b> </div>
                <div class="col-2 text-center"> <b> Очков </b> </div>
            </div>
        </div>
    </div>
</div>






<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <div class="teamRegistrForm">-->
<!--            <div class="row justify-content-start teamFormData">-->
<!--                <div class="col-12 col-xl-8">-->
<!--                    <p class="h2 mt-2">-->
<!--                        <strong>Регистрация на соревнование</strong>-->
<!--                    </p>-->
<!--                    <div class="input-group input-group-lg mb-3">-->
<!--                        <span class="input-group-text">Описание</span>-->
<!--                        <input id="team_name" class="form-control" placeholder="Введите название команды">-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="my-2 input-group input-group-lg mb-3">&ndash;&gt;-->

<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row justify-content-between">-->

<!--                    <div class="col-12 col-md-6 ">-->
<!--                        <div class="playerFormData">-->
<!--                            <div class="my-2 input-group input-group-lg mb-3">-->
<!--                                <span class="input-group-text">Описание</span>-->
<!--                                <input id="eam_name" class="form-control" placeholder="Введите название команды">-->
<!--                            </div>-->
<!--                            <div class="my-2 input-group input-group-lg mb-3">-->
<!--                                <span class="input-group-text">Описание</span>-->
<!--                                <input id="eam_ame" class="form-control" placeholder="Введите название команды">-->
<!--                            </div>-->
<!--                            <div class="my-2 input-group input-group-lg mb-3">-->
<!--                                <span class="input-group-text">Описание</span>-->
<!--                                <input id="am_name" class="form-control" placeholder="Введите название команды">-->
<!--                            </div>-->
<!--                            <div class="my-2 input-group input-group-lg mb-3 px-5">-->
<!--                                <span class="input-group-text">Описание</span>-->
<!--                                <input id="eam_name" class="form-control" placeholder="Введите название команды">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                <div class="row justify-content-end mb-5">-->
<!--                    <div class="col-auto">-->
<!--                        <button type="submit" class="btn createCompBtn" name="formType" value="teamRegistrForm">-->
<!--                            Отправить заявку-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->


{% endblock %}