{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="create-competition-title h2 text-center pt-5 mb-5">Создание соревнования</div>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="mb-3">
                <label class="form-label">Название</label>
                {{ form.name }}
            </div>
            <div class="mb-3">
                <label class="form-label">Описание</label>
                {{form.discription}}
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">Дата начала</label>
                {{form.dateTimeStartCompetition}}
            </div>
            <div class="mb-3">
                <label class="form-label">Вид спорта</label>
                {{form.sportType}}
            </div>
            <div class="row">
                <span class="col-3 form-label">Тип соревнований:</span>
                <div class="col-2">
                    <div class="form-check">
                        {{form.type1}}
                        <label class="form-check-label">
                            Внутренние
                        </label>
                    </div>
                    <div class="form-check">
                        {{form.type2}}
                        <label class="form-check-label">
                            Межвузовские
                        </label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button type="submit" class="btn btn-warning col-4 pt-4 pb-4 mt-5 mb-5">Создать соревнование</button>
            </div>
        </div>
    </form>
</div>

<script>
    $('#id_datetimepicker').datetimepicker({
        format: 'Y:m:d H:i',
        step: 10,
        theme: 'dark',
        maxTime: '23:59'
    });
</script>

{% endblock %}
