{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Tranlation Room</title>
    <link href="{% static 'styleSheet/custom.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/translationScript.js' %}"></script>
</head>
<body class="translation-page">
    <div class="translation-table">
        <div class="d-flex pt-5 flex-column">
            <b id="part" class="translation-text text-center">
                Партия № 2
            </b>
            <b class="translation-text text-center">
                Время  00:00
            </b>
        </div>
        <div class="d-flex gap-5 justify-content-around">
            <b class="flex-column translation-round-score" ><div id="first_team_score"></div></b>
            <b id="second_team_score" class="flex-column translation-round-score"></b>
        </div>
        <div class="d-flex gap-5 justify-content-evenly">
            <b class="translation-text flex-column">
                <div>Команда</div>
                <div id="first_team_name">*Team*</div>
            </b>
            <b class="translation-text text-center">
                <div id="match_score" class="translation-match-score">
                    2 : 3
                </div>
                <div>Общий счёт</div>
            </b>
            <b class="translation-text flex-column">
                <div>Команда</div>
                <div id="second_team_name">*Team*</div>
            </b>
        </div>
    </div>



        {{ match_id|json_script:"match-id" }}   
</body>
</html>