{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Tranlation Room</title>
    <link href="{% static 'styleSheet/custom.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/translationScript.js' %}"></script>
</head>
<body class="translation-page">

    <div class="d-flex pt-5 flex-column">
        <b id="translation_error" class="translation-text text-center"></b>
    </div>


    <div class="translation-table" id="translation-table">
        <div class="d-flex pt-5 flex-column">
            <b id="part" class="translation-text text-center"></b>
            <b id="time" class="translation-text text-center"></b>
        </div>
        <div class="d-flex gap-5 justify-content-around">
            <b id="left_team_score" class="flex-column translation-round-score"></b>
            <b id="right_team_score" class="flex-column translation-round-score"></b>
        </div>
        <div class="d-flex gap-5 justify-content-evenly">
            <b class="translation-text flex-column">
                <div>Команда</div>
                <div id="left_team_name"></div>
            </b>
            <b class="translation-text text-center">
                <div id="match_score" class="translation-match-score"></div>
                <div>Общий счёт</div>
            </b>
            <b class="translation-text flex-column">
                <div>Команда</div>
                <div id="right_team_name"></div>
            </b>
        </div>
    </div>



        {{ match_id|json_script:"match-id" }}   
</body>
</html>